-- migrations/20251210_add_last_login.sql
BEGIN;

ALTER TABLE users
  ADD COLUMN IF NOT EXISTS last_login TIMESTAMPTZ;

CREATE INDEX IF NOT EXISTS idx_users_last_login ON users (last_login);

COMMIT;
